<section class = "bottomContent">
   <div class="bottom-content-wrapper">
       <div class="left-bottom-content">
           <h2 class="title">The Shopping cart</h2>
           <div class="img-wrapper">
               <img src="../img/cart.png" alt="cart">
           </div>
       </div>
       <div class="right-bottom-content">
           <div class="title">Some Bullet text here</div>
           <div class="content">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ipsam molestiae obcaecati perspiciatis quos sapiente tenetur voluptatibus! Architecto eos, est illo iste nobis odio quam quia reiciendis reprehenderit, sequi vero?
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ipsam molestiae obcaecati perspiciatis quos sapiente tenetur voluptatibus! Architecto eos, est illo iste nobis odio quam quia reiciendis reprehenderit, sequi vero?
           </div>
       </div>
   </div>
</section>