<section class="popular">
    <div class="popular-wrapper">
        <div class="popular-box">
            <div class="img-wrapper">
                <img src="../img/pencil.png" alt="pencil">
            </div>
            <div class="box-title">Contrary to popular</div>
            <div class="box-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae cupiditate ratione vero, voluptate. </div>
        </div>
        <div class="popular-box">
            <div class="img-wrapper">
                <img src="../img/screen.png" alt="screen">
            </div>
            <div class="box-title">Contrary to popular</div>
            <div class="box-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae cupiditate ratione vero, voluptate. </div>
        </div>
        <div class="popular-box">
            <div class="img-wrapper">
                <img src="../img/basket.png" alt="basket">
            </div>
            <div class="box-title">Contrary to popular</div>
            <div class="box-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae cupiditate ratione vero, voluptate. </div>
        </div>
    </div>

</section>