<section class ="header">
        <a href="#"> <div class="logo">
            <img src="../img/logo.png" alt="logo" class="img-logo">
            <div class="logo-text">Prechu</div>
        </div>
        </a>
    </div>
    <nav>
        <ul class="nav">
            <li class="active" onclick="isActive(this.id)" id="nav-1"><a href="#">Home</a></li>
            <li onclick="isActive(this.id)" id="nav-2"><a href="#">Products</a></li>
            <li onclick="isActive(this.id)" id="nav-3"><a href="#">Services</a></li>
            <li onclick="isActive(this.id)" id="nav-4"><a href="#">Contact</a></li>
        </ul>
    </nav>
</section>