<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prechu</title>
    <link rel="stylesheet" href="./../css/styles.css">
    <link rel="stylesheet" href="./../css/style.scss">
    <link rel="stylesheet" href="./../css/header.scss">
    <link rel="stylesheet" href="./../css/slider.scss">
    <link rel="stylesheet" href="./../css/popular.scss">
    <link rel="stylesheet" href="./../css/bottomContent.scss">
    <link rel="stylesheet" href="./../css/footer.scss">
</head>
<body>
    <header>
        //=./header.html
    </header>
    //=./slider.html
    //=./contraryToPopular
    //=./bottomContent
    <footer>
        //=./footer
    </footer>
    <script src="../js/main.js"></script>
</body>
</html>
