<section class = "slider">
    <div class="slides">
        <div class="slide-background">
            <img src="./../img/slider-background.png" alt="first slide">
        </div>
        <div class="iphone">
            <img src="../img/iphone.png" alt="iphone">
            <div class="title">Lorem Ipsum is simply</div>
            <div class="content">dummy text of the printing & typesetting</div>
            <button class="sign-up"><a href="#"><img src="../img/check-mark.png" alt="check-mark"><span>Sign up now</span></a></button>
        </div>
    </div>
    <div class="slides">
        <div class="slide-background">
            <img src="./../img/picture2.jpeg" alt="second slide">
        </div>
    </div>
    <div class="slides">
        <div class="slide-background">
            <img src="./../img/picture3.jpeg" alt="third slide">
        </div>
    </div>

    <a class="prev" onclick="changeSlide(-1)"><img src="./../img/arrow.png" alt="left arrow"></a>
    <a class="next" onclick="changeSlide(1)"><img src="./../img/arrow.png" alt="right arrow"></a>
</section>